<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>292624046982-8jqbf7kh5pd89brll94aejj3c5pc4qo2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292624046982-8jqbf7kh5pd89brll94aejj3c5pc4qo2</string>
	<key>API_KEY</key>
	<string>AIzaSyAF81TQMpqpxYv-6smg2eOShAMK0yyMU6E</string>
	<key>GCM_SENDER_ID</key>
	<string>292624046982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isa.Uber-Clone</string>
	<key>PROJECT_ID</key>
	<string>uber-38108</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-38108.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292624046982:ios:fa36a1ebc3360684</string>
	<key>DATABASE_URL</key>
	<string>https://uber-38108.firebaseio.com</string>
</dict>
</plist>