<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>409944464748-m51i3nm32uloh8pcd0m8ukoof493thk2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409944464748-m51i3nm32uloh8pcd0m8ukoof493thk2</string>
	<key>API_KEY</key>
	<string>AIzaSyCOkq5w8jUluHIzhZcSTc-fnj8hysoqIcg</string>
	<key>GCM_SENDER_ID</key>
	<string>409944464748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isa.PushFun</string>
	<key>PROJECT_ID</key>
	<string>pushfun-e5f13</string>
	<key>STORAGE_BUCKET</key>
	<string>pushfun-e5f13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409944464748:ios:c2d84b6152d03305</string>
	<key>DATABASE_URL</key>
	<string>https://pushfun-e5f13.firebaseio.com</string>
</dict>
</plist>